<!DOCTYPE html>
<html lang="en">
<head>
	<title>Real time Score</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
	<script src="/chat.js" ></script>
	<script type='text/javascript' src="/socket.io/socket.io.js"></script>
	
</head>
<body>
<div class="container">
<h1>CD Cricket League 6</h1>
<div class="matchHeading">Match:<span id="sc_team1"><% if (feed) { %><%=feed.team1%><% } %></span> Vs <span id="sc_team2"><% if (feed) { %><%=feed.team2%><% } %></span></div>
<div class="matchHeading"><b>Toss </b>:Team <span id="sc_toss"><% if (feed) { %><%=feed.toss%><% } %></span> win the toss and elected to <span id="sc_batboll"><% if (feed) { %><%=feed.batball%><% } %></span></div>

<%if(score_1){%>
<div>Innings 1 : </div>
<div class="matchHeading font18"> Run :&nbsp; <span class="whitetext" id="run_1"><%=score_1.run%></span> / <span class="whitetext" id="wicket_1"><%=score_1.wicket%></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="whitetext" id="over_1"><%=score_1.over%></span>over</div>
<input type="hidden" id = "totalball_1" value="<%=score_1.totalball%>" />
<%}else{%>
<div>Innings 1 : </div>
<div class="matchHeading font18"> Run :&nbsp; <span class="whitetext" id="run_1">0</span> / <span class="whitetext" id="wicket_1">0</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="whitetext" id="over_1">0.0</span>over</div>
<input type="hidden" id = "totalball_1" value="0" />
<%}%>


<%if(score_2){%>
<div>Innings 2 : </div>
<div class="matchHeading font18"> Run :&nbsp; <span class="whitetext" id="run_2"><%=score_2.run%></span> / <span class="whitetext" id="wicket_2"><%=score_2.wicket%></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="whitetext" id="over_2"><%=score_2.over%></span>over</div>
<input type="hidden" id = "totalball_2" value="<%=score_2.totalball%>" />
<%}else{%>
<div>Innings 2 : </div>
<div class="matchHeading font18"> Run :&nbsp; <span class="whitetext" id="run_2">0</span> / <span class="whitetext" id="wicket_2">0</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="whitetext" id="over_2">0.0</span>over</div>
<input type="hidden" id = "totalball_2" value="0" />
<%}%>

<%if(score_2){%>
<div class="matchscoreCard" id="matchscoreCard"><%=entities.decode(score_2.runbyball)%></div>
<%}else if(score_1){%>
<div class="matchscoreCard" id="matchscoreCard"><%=entities.decode(score_1.runbyball)%></div>
<%}else{%>
<div class="matchscoreCard" id="matchscoreCard"></div>
<%}%>
<div id="content" class="commentary">
<% commentary.forEach( function (commentary){ %>
      <p><%= commentary.commentarydata %></p>
<% }); %> 
</div>
</div>
</body>
</html>
